<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gps_timestamp %><br>
    <%= f.text_field :gps_timestamp %>
  </div>
  <div class="field">
    <%= f.label :gps_latitude %><br>
    <%= f.text_field :gps_latitude %>
  </div>
  <div class="field">
    <%= f.label :gps_longitude %><br>
    <%= f.text_field :gps_longitude %>
  </div>
  <div class="field">
    <%= f.label :gps_speed %><br>
    <%= f.text_field :gps_speed %>
  </div>
  <div class="field">
    <%= f.label :gps_heading %><br>
    <%= f.text_field :gps_heading %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
