<% content_for :head do %>
  <%= javascript_include_tag("#{APP_CONFIG[:google_maps_url]}") %>
<% end %>

<div id="mapdiv"></div>

<h1>Listing locations</h1>

<table>
  <thead>
    <tr>
      <th>created_at</th>
      <th>GPSTimestamp</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Speed</th>
      <th>Heading</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.created_at %></td>
        <td><%= location.gps_timestamp %></td>
        <td><%= location.gps_latitude %></td>
        <td><%= location.gps_longitude %></td>
        <td><%= location.gps_speed %></td>
        <td><%= location.gps_heading %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script language="javascript">
  function initialize() {
    var mapOptions = {
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById('mapdiv'), mapOptions);
    var pathBounds = new google.maps.LatLngBounds();

    var paths = [];
    var path = [];
    <% @locations.each_index do |i| %>
      <% if i > 0 %>
        <% previous = @locations[i-1] %>
      <% else %>
        <% previous = nil %>
      <% end %>

      <% current = @locations[i] %>


      <% if previous %>
        var prev = new google.maps.LatLng(<%= previous.gps_latitude %>, <%= previous.gps_longitude %>);
        var current = new google.maps.LatLng(<%= current.gps_latitude %>, <%= current.gps_longitude %>);
        var distance = google.maps.geometry.spherical.computeDistanceBetween(prev, current);

        pathBounds.extend(current);

        if(distance > 200){
          if(path.length > 0){
            paths.push(path);
          }

          var path = [];
        }
        else{
          path.push(current);
        }
      <% end %>

    <% end %>

    for(var i=0; i<paths.length; i++){
      var flightPath = new google.maps.Polyline({
        path: paths[i],
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2
      });

      flightPath.setMap(map);
    }
    map.fitBounds(pathBounds);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>